<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<table>
		<td>ISBN</td>
		<td>TITULO</td>
		<tr th:each="libro:${lista}">
			<td th:text="${libro.isbn}">ISBN</td>
			<td th:text="${libro.titulo}">TITULO</td>
			<td><a th:href="@{borrar(isbn=${libro.isbn})}">Borrar</a>
			<td><a th:href="@{detalles(isbn=${libro.isbn})}">Detalles</a>
			<td><a th:href="@{formularioActualizar}">Actualizar</a>
		</tr>
	</table>

	<form action="formularioInsertar">
		<input type="submit" value="Insertar" />
	</form>

</body>
</html>